<div align="left" style="margin-left: min(10vw, 50px)">
  <div align="left" style="display: inline-block">
    {%- if site.social.picture -%}
      <img src="{{site.social.picture}}" width="200" style="border-radius:10%; display:block;">
    {%- endif -%}
    <ul class="social-media-list" style="dislpay: inline; padding-top: 5px; text-align: center;">
      {%- if site.social.gscholar   -%}<li style="padding: 0px 0px 0px 5px; display: inline-block; width:25px; height:25px;"><a href="{{ site.social.gscholar }}" title="Google Scholar">{%-   include logo_gscholar.html   -%}</a></li>{%- endif -%}
      {%- if site.social.stoverflow -%}<li style="padding: 0px 0px 0px 5px; display: inline-block; width:25px; height:25px;"><a href="{{ site.social.stoverflow }}" title="Stack Overflow">{%- include logo_stoverflow.html -%}</a></li>{%- endif -%}
      {%- if site.social.github     -%}<li style="padding: 0px 0px 0px 5px; display: inline-block; width:25px; height:25px;"><a href="{{ site.social.github }}" title="Github">{%-             include logo_github.html     -%}</a></li>{%- endif -%}
      {%- if site.social.linkedin   -%}<li style="padding: 0px 0px 0px 5px; display: inline-block; width:25px; height:25px;"><a href="{{ site.social.linkedin }}" title="LinkedIn">{%-         include logo_linkedin.html   -%}</a></li>{%- endif -%}
      {%- if site.social.twitter    -%}<li style="padding: 0px 0px 0px 5px; display: inline-block; width:25px; height:25px;"><a href="{{ site.social.twitter }}" title="Twitter">{%-           include logo_twitter.html    -%}</a></li>{%- endif -%}
      {%- if site.social.reddit     -%}<li style="padding: 0px 0px 0px 5px; display: inline-block; width:25px; height:25px;"><a href="{{ site.social.reddit }}" title="Reddit">{%-             include logo_reddit.html     -%}</a></li>{%- endif -%}
      {%- if site.social.doge       -%}<li style="padding: 0px 0px 0px 5px; display: inline-block; width:25px; height:25px;"><a href="{{ site.social.doge }}" title="Dogecoin">{%-             include logo_doge.html       -%}</a></li>{%- endif -%}
    </ul>
  </div>
</div>

<style type="text/css">
  h4 { margin-top: 10px; }
</style>
